################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/EnergoLink/obj
/EnergoLink/bin
/EnergoLink/App_Data
/CloudAscue.Mocks/bin/Debug/*.dll
/CloudAscue.Mocks/obj/Debug/*.dll
*.dll
*.pdb
*.cache
*.force
Debug
bin
_ReSharper.EnergoLink
/CloudAskueApi/*.user
