################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/EnergoLink/obj
/EnergoLink/bin
/EnergoLink/App_Data
