<article class="calc">
<div class="tree">
<b>Точки учета</b>
	<div data-tree-id="abc"
		data-angular-treeview="true"
		data-tree-model="tree"
		data-node-id="itemId"
		data-node-label="itemLabel"
		data-node-children="items" >
	</div>
</div>
<div class="table">

	<div class="table1">
		<div class="row head">
			<div class="cell">A+</div><div class="cell">A-</div><div class="cell">R+</div><div class="cell">R-</div>
		</div>
		<div
		data-table-model="tree"
		data-node-id="itemId"
		data-node-label="itemLabel"
		data-node-children="items" >

	</div>
</div>
</article>